<!DOCTYPE html>
<html>
<head>
  <title>Redit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="nav-bar">
    <% if session[:user_id].nil? %>
      <ul>
        <li>
          <%= form_tag session_path %>
            <%= label_tag :username %>
            <%= text_field_tag :username %>
            <%= label_tag :password %>
            <%= password_field_tag :password %>
            <%= submit_tag "Login" %>
        </li>
      </ul>
    <% else %>
      <% user = User.find(session[:user_id]) %>
        <ul>
          <li>
            <%= link_to "Heyo #{user.username}" %>
          </li>
          <li>
            <%= link_to "Logout", session_path, method: :delete %>
          </li>
        </ul>
    <% end %>
  </nav>

  <%= yield %>

</body>
</html>
